<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bolona_pig.proj_imgapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".Activity.MainActivity">-->
        <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
        <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

        <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
        <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--</activity>-->
        <activity
            android:name=".Activity.Register"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Activity.Login"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Activity.UserDetail"
            android:label="@string/title_activity_user_management" />
        <activity
            android:name=".Activity.UserDetailEdit"
            android:label="@string/title_activity_user_detail_edit" />
        <activity
            android:name=".Activity.UserPassChange"
            android:label="@string/title_activity_user_password_change" />
        <activity
            android:name=".Activity.NoticeAdd"
            android:label="@string/title_activity_add_notice" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Activity.NoticeDetail"
            android:label="@string/title_activity_notice_detail" />
        <activity
            android:name=".Activity.NoticeDetailEdit"
            android:label="@string/title_activity_notice_detail_edit" />
        <activity
            android:name=".Activity.ClueAdd"
            android:label="@string/title_activity_seen_info_add" />
        <activity
            android:name=".Activity.ClueDetail"
            android:label="@string/title_activity_seen_info_detail" />
        <activity
            android:name=".Activity.BackOffice"
            android:label="@string/title_activity_back_office" />
        <activity
            android:name=".Activity.UserNoticeList"
            android:label="@string/title_activity_user_noticelist" />
        <activity
            android:name=".Activity.UserClueList"
            android:label="@string/title_activity_user_seenlist" />
        <activity
            android:name=".Activity.Main3Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>